.header {
  display: flex;
  height: 90px;
  align-items: center;
  background-color: #0f172a;
  border-radius: 9px;
}

.header img {
  height: 200px;
}
.header nav {
  margin-left: 700px;
}

.header nav a {
  margin-left: 40px;
  text-decoration: none;
  color: white;
  position: relative;
}

nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background: gold;
  transition: width 0.3s ease;
}

nav a:hover::after {
  width: 100%;
}

body {
  background-color: #090d15;
}

.backtocars {
  margin-top: 20px;
}

.backtocars a {
  text-decoration: none;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.carspecs {
  width: 500px;
  height: 600px;
  margin-left: 30px;
}

#imgsection {
  width: 500px;
  height: 350px;
  margin-left: 30px;
  border-radius: 7px;
}

.carspecs h1 {
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.carspecs h4 {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.carspecs h3 {
  color: gold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: x-large;
}

.carspecs div p {
  color: rgb(158, 158, 158);
}

#Lildescription {
  color: rgb(158, 158, 158);
  font-size: small;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.buttons a {
  display: inline-block;
  padding: 12px 20px;
  background-color: gold;
  color: black;
  text-decoration: none;
  border-radius: 9px;
  width: 450px;
  margin-top: 20px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
