.header {
  display: flex;
  height: 90px;
  align-items: center;
  border-radius: 9px;
}

.header img {
  height: 200px;
}
.header nav{
  margin-left: 700px;
}

.header nav a{
  margin-left: 40px;
  text-decoration: none;
  color: white;
  position: relative;
}

nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background: gold;
  transition: width 0.3s ease;
}

nav a:hover::after {
  width: 100%;
}

body {
  background-color: #0f172a;
}

.frontpage {
  background-image: url(images/carbackgound.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
  margin-top: 2px;
  align-content: center;
}
.text1 {
  width: 350px;
  color: whitesmoke;
  margin-left: 80px;
}
.text1 h1 {
  font-size: 70px;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}

.text1 p {
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
}

.button1 {
  height: 8vh;
  width: 150px;
  margin-left: 80px;
  background-color: gold;
  border-radius: 9px;
  justify-items: center;
  align-content: center;
  font-family: Inter, sans-serif;
  font-weight: 700;
  cursor: pointer;
}

.browsecars a {
  text-decoration: none;
  color: black;
}

.carstext {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 50px;
}


.carstext h1 {
  margin-bottom: 3px;
}


.carstext p {
  font-weight: 50;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
}

.carpics {
  display: flex;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.carpics div {
  width: 450px;
  height: 500px;
  margin: 10px;
  border-radius: 10px;
  background-color: #090d15;
}
 .carpics div img {
  width:450px ;
  height: 300px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
 }
 .carpics div:hover{
   transition: 0.5s;
    animation: ease-out;
    transform: scale(1.04);
 }

 .carpics div h3{
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 30px;
  font-weight: 1000;
  font-size: x-large;
  margin-bottom: 8px;
 }

 .carpics div p{
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 30px;
 }

.carpics div h4{
  color: gold;
  margin-left: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



 html {
  scroll-behavior: smooth;
}

